@font-face {
    font-family: firamono-bold;
    src: url(FiraMono-Bold.ttf);
}
@font-face {
    font-family: firamono-medium;
    src: url(FiraMono-Medium.ttf);
}
@font-face {
    font-family: firamono-regular;
    src: url(FiraMono-Regular.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(40,42,54);
}

body {
    display: flex;
    padding: 1em;
    flex-direction: column;
}

header {
    margin-bottom: 1rem;
    font-family: firamono-bold;
    font-size: 30px;
    box-shadow: 0rem 0rem 1rem rgb(26, 24, 51);
}

.topnav a {
    padding: 0.5em;
}
footer {
    margin-top: 1em;
}

header, footer {
    background-color: #494f72;
    color: rgb(255, 242, 231);
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
}

.terminal {
    flex-grow: 1;  /* Makes the terminal div take all available space between header and footer */
    padding: 1em;
    cursor: text;  /* Cursor will always appear as text cursor in terminal area */
    overflow-y: auto;
    background-image: url("night-river-cottage-woodcut-circles-blur.png");
}

.output, .header, input#cmd, .prompt, .suggestions {
    background-color: transparent; 
    border: none;
    outline: none;
    color: white;
    font-family: monospace;  /* Use a monospace font for the input */
    font-size: 16px;  /* Adjust to the size you find appropriate */
    /*text-shadow: rgb(0, 255, 21) 1px 0 10px;*/
}

.header {
    font-style: bold;
    margin: 0;
    padding: 0;
}

.header a {
    color:rgb(255, 121, 198);
}

.lsdir {
    color:rgb(255, 121, 198);
}
#user {
    color: rgb(80, 250, 123);
}

#host {
    color: rgb(189, 147, 249);
}

#dir {
    color: rgb(255, 121, 198);
}
.output {
    white-space: pre;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* space between suggestions */
    margin-top: 5px;
    color: white;
}

.suggestion-item {
    padding: 2px 8px; /* padding for each command suggestion */
    cursor: pointer;
    color: white;
    /* Additional styles for the suggestion items */
}

input#cmd {
    pointer-events: none;  /* Makes the input non-selectable on its own */
    caret-color: transparent;
    padding: 0px;
    /*line-height: 22px;*/
    width: 100%;
    /*height: 22px;*/
}

.prompt {
    display: inline-flex;
    align-items: center;
}

.command {
    margin: 0;
    /*padding-left: 2px;
    padding-top: 1px;*/
}

.input {
    appearance: none;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
}

.line {
    display: flex;
    flex-direction: row;
    position: relative;
    /*height: 22px; /* need to set this programatically... firefox does not behave properly with the input text box */
}

.fake-caret {
    display: inline-block;
    position: absolute;
    background-color: white;
    font-family: monospace;
    font-size: 16px;
    height: 100%;
    min-width: 1ch;
    /*animation: blink 0.5s step-end infinite;*/
}

@keyframes blink {
    0% { content: "|" } 
    25% { content: "/" }
    50% { content: "-" }
    75% { content: "\\" }
}