:root {
    --tn-black: #414868;
    --tn-red: #F7768E;
    --tn-green: #9ECE6A;
    --tn-yellow: #E0AF68;
    --tn-blue: #7AA2F7;
    --tn-magenta: #BB9AF7;
    --tn-cyan: #7DCFFF;
    --tn-white: #A9B1D6;
    --tn-bright-black: #414868;
    --tn-bright-red: #F7768E;
    --tn-bright-green: #9ECE6A; 
    --tn-bright-yellow: #ffcf68;
    --tn-bright-blue: #7AA2F7;
    --tn-bright-magenta: #BB9AF7;
    --tn-bright-cyan: #7DCFFF;
    --tn-bright-white: #C0CAF5;
    --tn-background: #1A1B26;
    --tn-foreground: #C0CAF5;
    --tn-cursor: #C0CAF5;
    --site-bg: var(--tn-background);
    --nav-text: var(--tn-bright-yellow);
    --header-footer-bg: var(--tn-background);
    --terminal-bg: var(--tn-background);/*linear-gradient(#1A1B26 20%, rgba(0, 0, 0, 0), #1A1B26), url('night-river-cottage-woodcut-circles-blur.png');*/
    --side-margin: 7rem;
}

@font-face {
    font-family: firamono-bold;
    src: url(FiraMono-Bold.ttf);
}
@font-face {
    font-family: firamono-medium;
    src: url(FiraMono-Medium.ttf);
}
@font-face {
    font-family: firamono-regular;
    src: url(FiraMono-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--site-bg);/*rgb(40,42,54);*/
    font-family: firamono-regular;
    font-size: 16px;
    color: var(--tn-foreground);
}

p {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin: 0 var(--side-margin) 5rem var(--side-margin);
    font-family: firamono-medium;
    font-size: 25px;
    /*box-shadow: 0.2rem 0.2rem 0rem var(--tn-magenta);*/
}

.headshot-box {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#headshot {
    max-height: 100%;
    width: auto;
    height: auto;
    /*border: 0.2rem solid var(--tn-white);*/
    border-radius: 50%;
    box-shadow: 0px 20px 50px -20px var(--tn-black); /* x y blur spread */
}
#nametag {
    /*border: 0.1em solid var(--tn-bright-yellow);
    border-radius: 0 25% 0 25%;
    padding: 0.5em;*/
    margin-left: 1em;
}

header a {
    color: var(--nav-text);
    text-decoration: none;
}

header a:hover {
    color: var(--tn-red);
    background-image: linear-gradient(var(--tn-red), var(--tn-yellow));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topnav a {
    padding-left: 2em;
}


header, footer {
    background: var(--header-footer-bg);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-shrink: 0;
}

.terminal {
    flex-grow: 1;  /* Makes the terminal div take all available space between header and footer */
    margin: 0 var(--side-margin);
    cursor: text;  /* Cursor will always appear as text cursor in terminal area */
    overflow-y: auto;
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('night-river-cottage-woodcut-circles-blur.png');*/
    /*background: var(--terminal-bg);*/
    /*box-shadow: inset 0 0 1em 0.5em var(--tn-background);*/
    padding: 1rem;*/
}

.output, .header, input#cmd, .prompt, .suggestions {
    background-color: transparent; 
    border: none;
    outline: none;
    color: var(--tn-foreground);
    font-family: monospace;  /* Use a monospace font for the input */
    font-size: 16px;  /* Adjust to the size you find appropriate */
    /*text-shadow: rgb(0, 255, 21) 1px 0 10px;*/
}

.terminal a {
    color: var(--tn-red);
}

.lsdir {
    color: var(--tn-red);
}
#user {
    color: var(--tn-green);
}

#host {
    color: var(--tn-magenta);
}

#dir {
    color: var(--tn-red);
}
.output {
    white-space: pre;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* space between suggestions */
    margin-top: 5px;
}

.suggestion-item {
    padding: 2px 8px; /* padding for each command suggestion */
    cursor: pointer;
    /* Additional styles for the suggestion items */
}

input#cmd {
    pointer-events: none;  /* Makes the input non-selectable on its own */
    caret-color: transparent;
    padding: 0px;
    /*line-height: 22px;*/
    width: 100%;
    /*height: 22px;*/
}

.prompt {
    display: inline-flex;
    align-items: center;
}

.input {
    appearance: none;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
}

.line {
    display: flex;
    flex-direction: row;
    position: relative;
    /*height: 22px; /* need to set this programatically... firefox does not behave properly with the input text box */
}

.fake-caret {
    display: inline-block;
    position: absolute;
    background-color: var(--tn-foreground);
    font-family: monospace;
    font-size: 16px;
    color: var(--tn-background);
    height: 100%;
    min-width: 1ch;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0% {background-color: var(--tn-foreground);}
    50% {background-color: transparent; color: var(--tn-foreground);}
}